{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["ie >= 9"]
        }
      }
    ]
  ],

  "env": {
    "test": {
      "presets": ["react-native"]
    }
  }
}
